<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="cinsert" method="post">
<label for="course">Choose course:</label>
<select name="course" id="course">
    <option value="fsj">Full stack java development</option>
    <option value="msj">mern stack development</option>
    <option value="deveops">deveops</option>
    <option value="python">python</option>
</select>
<br>
<input type="number" name="cfees" placeholder="enter cfees"><br>
<input type="text" name="cduration" placeholder="enter cduration"><br>
<button>submit</button>
</form>
</body>        