<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="sinsert "  method="post">
<input type="number"  name="sid" placeholder="student id">

<input type="text"  name="sname" placeholder="Enter the name">

<input type="email"  name="mail" placeholder="student id">

<label for="course">Choose course:</label>
<select name="course" id="course">
    <option value="fsj">Full stack java development</option>
    <option value="msj">mern stack development</option>
    <option value="deveops">deveops</option>
    <option value="python">python</option>
</select>


</form>
</body>
</html>